---
import type { SiteLocale } from "@generated/datocms";
import { Base } from "@layouts";
import { Button, Form, FormField, InputEmail, Loader } from "@components";

export const prerender = false;

const { locale } = Astro.params as { locale: SiteLocale };
---

<Base locale={locale}>
  {Math.random()}

  <Loader />

  <Form action="/api" method="post">
    <FormField label="Email">
      <InputEmail required />
    </FormField>

    <Button type="submit">Submit</Button>
  </Form>
</Base>
