---
import type { SiteLocale } from "@generated/datocms";
import { Base } from "@layouts";

export const prerender = false;

interface Props {
  error: unknown;
}

const { error } = Astro.props;
---

<Base locale={"en" as SiteLocale}>
  <div>{error instanceof Error ? error.message : "Unknown error"}</div>
</Base>
