---
import type { SectionBlockFragment } from "@generated/datocms";
import { StructuredText } from "@components";
import LinkBlock from "../LinkBlock/LinkBlock.astro";

type Props = {
  block: SectionBlockFragment;
};

const { block } = Astro.props;
---

<section class="section-block">
  <h2 class="section-block__title">{block.title}</h2>

  <StructuredText data={block.content} />

  <div>
    {block.links.map((link) => <LinkBlock block={link} />)}
  </div>
</section>

<style>
  .section-block {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-size-xl);
    margin: -1px;
    border: 1px solid var(--color-surface-base);
    padding: var(--spacing-size-xxl) var(--spacing-size-l);
  }
</style>
