---
import type { Polymorphic } from "astro/types";
import type { IconName } from "@generated/icons-sprite";
import { Icon } from "@components";

type Props<Tag extends "button" | "a"> = Polymorphic<{
  as: Tag;
  variant?: "primary" | "secondary" | "transparent" | "link";
  icon?: IconName;
  iconOnly?: boolean;
  round?: boolean;
}> &
  (Tag extends "a" ? { prefetch?: boolean } : {});

const {
  as: Tag = "button",
  variant,
  icon,
  iconOnly,
  round,
  prefetch = true,
  ...props
} = Astro.props;
---

<Tag
  class:list={[
    "button",
    { [`button--${variant}`]: variant },
    { "button--icon-only": iconOnly },
    { "button--round": round }
  ]}
  {...Tag === "a" && prefetch && { "data-astro-prefetch": "hover" }}
  {...props}
>
  {icon && <Icon class="button__icon" name={icon} />}
  <span class:list={["button__label", { "sr-only": iconOnly }]}>
    <slot />
  </span>
</Tag>

<style>
  .button {
    display: inline-flex;
    align-items: center;
    gap: var(--spacing-size-xs);
    transition:
      background var(--motion-feedback),
      border var(--motion-feedback),
      color var(--motion-feedback);
    cursor: pointer;
    border: 1px solid;
    padding: var(--spacing-size-sm) var(--spacing-size-md);
    font-weight: 500;
    text-decoration: none;
  }

  .button--icon-only {
    padding: var(--spacing-size-sm);
  }

  .button--round {
    border-radius: 50%;
  }

  .button,
  .button--primary {
    border-color: var(--color-brand-primary-default);
    background-color: var(--color-brand-primary-default);
    color: #000000;
  }

  .button:hover,
  .button--primary:hover {
    border-color: #007acc;
    background-color: #007acc;
    color: #ffffff;
  }

  .button--secondary {
    border-color: var(--color-brand-secondary-default);
    background-color: var(--color-brand-secondary-default);
    color: #000000;
  }

  .button--secondary:hover {
    border-color: var(--color-brand-secondary-default);
    background-color: var(--color-brand-secondary-default);
    color: #000000;
  }

  .button--link {
    border-color: transparent;
    background-color: transparent;
    padding: 0px;
    color: #ffd166;
  }

  .button--link:hover {
    border-color: transparent;
    background-color: transparent;
  }

  .button--transparent {
    border-color: transparent;
    background-color: transparent;
    color: #ffffff;
  }

  .button--transparent:hover {
    border-color: var(--color-surface-base);
    background-color: var(--color-surface-base);
    color: #ffffff;
  }
</style>
