---
import { Button } from "@components";
import type { HTMLAttributes } from "astro/types";

type Props = HTMLAttributes<"footer">;

const { ...props } = Astro.props;
---

<footer {...props}>
  <div class="footer__bottom">
    <p class="copyright-notice">
      © 2025 Luuk Brauckmann.&nbsp;<a
        href="https://creativecommons.org/licenses/by-sa/4.0/"
        target="_blank">CC BY-SA 4.0</a
      >
    </p>

    <span class="social-links">
      <Button
        as="a"
        icon="github"
        iconOnly
        variant="link"
        href="https://github.com/slimluccii">GitHub</Button
      >
      <Button
        as="a"
        icon="codepen"
        iconOnly
        variant="link"
        href="https://codepen.io/slimluccii">CodePen</Button
      >
      <Button
        as="a"
        icon="linkedin"
        iconOnly
        variant="link"
        href="https://www.linkedin.com/in/luukbrauckmann">LinkedIn</Button
      >
    </span>
  </div>
</footer>

<style>
  footer {
    margin: 0px -1px -1px -1px;
    border: 1px solid var(--color-surface-raised);
    background-color: var(--color-surface-raised);
    padding: var(--spacing-size-xxl) var(--spacing-size-lg)
      var(--spacing-size-sm) var(--spacing-size-lg);
  }

  .footer__bottom {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: var(--spacing-size-m);
    font-size: var(--text-size-sm);
  }

  a {
    color: #ffd166;
    text-decoration: none;
  }

  a:hover {
    color: #ffffff;
  }

  .social-links {
    display: inline-flex;
    gap: var(--spacing-size-xs);
  }
</style>
