---
import { Button } from "@components";

const locales = ["en", "nl"];

const { locale: localeParam } = Astro.params;
---

<ul class="locale-selector">
  {
    locales.map((locale) => (
      <li>
        <Button
          as="a"
          href={`/${locale}/`}
          variant="transparent"
          icon={locale}
          iconOnly={true}
          aria-current={locale === localeParam ? "page" : undefined}
          class="locale-selector-item"
        >
          {locale}
        </Button>
      </li>
    ))
  }
</ul>

<style>
  .locale-selector {
    display: flex;
    margin: 0px;
    padding: 0px;
    list-style-type: "";
  }

  .locale-selector :global(.locale-selector-item[aria-current="page"]) {
    background-color: var(--color-surface-base);
  }
</style>
