---
import type { PagesQuery } from "@generated/datocms";
import { Button, LocaleSelector } from "@components";
import { cleanPath } from "@utils/clean-path";

type Props = NonNullable<PagesQuery["menu"]>;

const { locale } = Astro.params;
const { items } = Astro.props;
---

<aside class="sidebar" aria-label="Sidebar">
  <nav aria-label="Main navigation">
    <div>
      <h3 class="sr-only">Navigation</h3>
      <ul class="navigation-list">
        {
          items.map(({ title, page }) => (
            <li class="navigation-list-item">
              <Button
                as="a"
                variant="transparent"
                class="navigation-list-item__link"
                href={cleanPath("/", "/", locale as string, "/", "/",String(page?.slug))}
              >
                {title}
              </Button>
            </li>
          ))
        }
      </ul>
    </div>

    <!-- <div>
      <h3>Appearance</h3>
      <AppearanceSelector />
    </div> -->

    <div class="locale-selector">
      <h3 class="sr-only">Language</h3>
      <LocaleSelector />
    </div>
  </nav>
</aside>

<style>
  .sidebar {
    position: relative;
  }

  .sidebar > nav {
    display: flex;
    position: fixed;
    flex-direction: column;
    justify-content: center;
    translate: -100%;
    inset-block-start: 0;
    inline-size: 100%;
    max-inline-size: 15rem;
    block-size: 100%;
  }

  .navigation-list {
    margin: 0;
    padding: 0;
    list-style-type: "";
  }

  .navigation-list-item__link {
    inline-size: 100%;
  }

  .locale-selector {
    position: absolute;
    inset-block-end: 0;
    inline-size: 100%;
  }
</style>
