---
import type { ComponentProps } from "astro/types";
import type { FooterQuery, SiteLocale } from "@generated/datocms";
import {
  AppearanceSelector,
  Button,
  Footer,
  Header,
  IconsSprite,
  LocaleSelector,
  SkipLink
} from "@components";
import { Seo } from "@datocms/astro";

import "@generated/tokens.css";
import "@styles/tokens.css";
import "@styles/a11y.css";
import "@styles/reset.css";
import "@styles/theme.css";
import "@styles/typography.css";

import { useTranslations } from "src/i18n/utils";

type Props = {
  locale: SiteLocale;
  seo: ComponentProps<typeof Seo>["data"];
  footer: FooterQuery["footer"];
};

const { footer, locale, seo } = Astro.props;
const { t } = useTranslations(locale);
---

<html lang={locale}>
  <head>
    <!-- Character encoding -->
    <meta charset="utf-8" />
    <!-- Viewport meta tag -->
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- CSP headers -->
    <meta
      http-equiv="Content-Security-Policy"
      content="upgrade-insecure-requests"
    />
    <!-- Page title -->
    <Seo data={seo} />
    <!-- Preconnect -->
    <link rel="preconnect" href="https://www.datocms-assets.com" />
    <!-- Asynchronous JS -->
    <!-- CSS that includes @import -->
    <!-- Synchronous JS -->
    <!-- Synchronous CSS -->
    <!-- Preloads -->
    <link
      rel="preload"
      href="/fonts/source-sans.woff2"
      as="font"
      type="font/woff2"
      crossorigin
    />
    <link
      rel="preload"
      href="/fonts/Dash Casual.woff2"
      as="font"
      type="font/woff2"
      crossorigin
    />
    <!-- Prefetch & Prerender -->
    <!-- Everything else (meta tags, icons, open graphs, etc.) -->
    <meta name="generator" content={Astro.generator} />
  </head>
  <body>
    <SkipLink href="#main-content">{t("skip_to_main_content")}</SkipLink>

    <aside class="sidebar" aria-label="Sidebar">
      <nav aria-label="Main navigation">
        <div>
          <h3 class="sr-only">Navigation</h3>
          <ul class="navigation-list">
            <li class="navigation-list-item">
              <Button
                as="a"
                variant="transparent"
                class="navigation-list-item__link"
                href="/">Home</Button
              >
            </li>
            <li class="navigation-list-item">
              <Button
                as="a"
                variant="transparent"
                class="navigation-list-item__link"
                href="/">About me</Button
              >
            </li>
            <li class="navigation-list-item">
              <Button
                as="a"
                variant="transparent"
                class="navigation-list-item__link"
                href="/">Projects</Button
              >
            </li>
            <li class="navigation-list-item">
              <Button
                as="a"
                variant="transparent"
                class="navigation-list-item__link"
                href="/">Blog</Button
              >
            </li>
          </ul>
        </div>

        <!-- <div>
          <h3>Appearance</h3>
          <AppearanceSelector />
        </div> -->

        <div class="locale-selector">
          <h3 class="sr-only">Language</h3>
          <LocaleSelector />
        </div>
      </nav>
    </aside>

    <div class="content-wrapper">
      <Header />

      <main id="main-content">
        <slot />
      </main>

      <Footer class="footer" {...footer} />
    </div>

    <IconsSprite />
  </body>
</html>

<style>
  body {
    display: flex;

    justify-content: center;
    min-height: 100dvh;
  }

  @media screen and (min-width: 500px) {
    body {
      padding: var(--spacing-size-sm);
    }
  }

  .sidebar {
    position: relative;
  }

  .sidebar > nav {
    position: fixed;
    translate: -100%;
    inset-block-start: 0;
    inline-size: 100%;
    max-inline-size: 15rem;
    block-size: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }


  .navigation-list {
    margin: 0;
    padding: 0;
    list-style-type: "";
  }

  .navigation-list-item__link {
    inline-size: 100%;
  }

  .locale-selector {
    position: absolute;
    inset-block-end: 0;
    inline-size: 100%;
  }

  .content-wrapper {
    display: flex;
    position: relative;
    flex: 1;
    flex-direction: column;
    border: 1px solid var(--color-surface-base);
    inline-size: 100%;
    max-inline-size: 606px;
  }

  main {
    flex: 1;
  }
</style>
