---
import type { ComponentProps } from "astro/types";
import type { SiteLocale } from "@generated/datocms";
import { Footer, Header, IconsSprite, SkipLink } from "@components";
import { Seo } from "@datocms/astro";

import "@generated/tokens.css";
import "@styles/tokens.css";
import "@styles/a11y.css";
import "@styles/reset.css";
import "@styles/theme.css";
import "@styles/typography.css";

import { useTranslations } from "src/i18n/utils";

type Props = {
  locale: SiteLocale;
  seo: ComponentProps<typeof Seo>["data"];
};

const { locale, seo } = Astro.props;
const { t } = useTranslations(locale);
---

<html lang={locale}>
  <head>
    <!-- Character encoding -->
    <meta charset="utf-8" />
    <!-- Viewport meta tag -->
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- CSP headers -->
    <meta
      http-equiv="Content-Security-Policy"
      content="upgrade-insecure-requests"
    />
    <!-- Page title -->
    <Seo data={seo} />
    <!-- Preconnect -->
    <link rel="preconnect" href="https://www.datocms-assets.com" />
    <!-- Asynchronous JS -->
    <!-- CSS that includes @import -->
    <!-- Synchronous JS -->
    <!-- Synchronous CSS -->
    <!-- Preloads -->
    <link
      rel="preload"
      href="/fonts/source-sans.woff2"
      as="font"
      type="font/woff2"
      crossorigin
    />
    <link
      rel="preload"
      href="/fonts/Dash Casual.woff2"
      as="font"
      type="font/woff2"
      crossorigin
    />
    <!-- Prefetch & Prerender -->
    <!-- Everything else (meta tags, icons, open graphs, etc.) -->
    <meta name="generator" content={Astro.generator} />
  </head>
  <body>
    <SkipLink href="#main-content">{t("skip_to_main_content")}</SkipLink>

    <div class="content-wrapper">
      <Header />

      <main id="main-content">
        <slot />
      </main>

      <Footer class="footer" />
    </div>

    <IconsSprite />
  </body>
</html>

<style>
  body {
    display: flex;
    flex-direction: column;
    min-height: 100dvh;
  }

  @media screen and (min-width: 500px) {
    body {
      padding: var(--spacing-size-sm);
    }
  }

  .content-wrapper {
    display: flex;
    position: relative;
    flex: 1;
    flex-direction: column;
    margin-inline: auto;
    border: 1px solid var(--color-surface-base);
    inline-size: 100%;
    max-inline-size: 606px;
  }

  main {
    flex: 1;
  }
</style>
